---
import BaseHead from "../layouts/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Joseph Curtis | Full Stack Developer | 404"
      description="A 404 page"
    />
  </head>
  <body>
    <div class="wrapper mt4 mb4">
      <h1>Page Not Found</h1>
      <p>Not found</p>
    </div>
  </body>
</html>
