---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Accessibility Statement | Joseph Curtis"
  description="an Accessibility Statement"
>
  <section>
    <h1>
      <span>Policy</span>
      <span>Accessibility Statement</span>
    </h1>
    <p>This accessibility statement applies to jcurtis.dev</p>
    <p>
      We want as many people as possible to be able to use this website. For
      example, that means you should be able to:
    </p>
    <ul>
      <li>Change colours, contrast levels and fonts</li>
      <li>Zoom in up to 300% without the text spilling off the screen</li>
      <li>Navigate most of the website using just a keyboard</li>
      <li>Navigate most of the website using speech recognition software</li>
      <li>
        Listen to most of the website using a screen reader (including the most
        recent versions of JAWS, NVDA and VoiceOver)
      </li>
    </ul>
    <p>We've also made the website text as simple as possible to understand.</p>
    <h2>Feedback & Contact Information</h2>
  </section>
</BaseLayout>
