---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Joseph Curtis | Full Stack Developer"
  description="A blog page about my journey as a full stack developer."
>
    <h1>Blog</h1>
</BaseLayout>