---
import BaseLayout from "../layouts/BaseLayout.astro";
import ShopName from "../components/ShopName.astro";
import CollectionByHandle from "../components/CollectionByHandle.astro";
---

<BaseLayout
  title="Joseph Curtis | Full Stack Developer"
  description="A whole site dedicated to Joseph Curtis"
>
  <div></div>
  <section>
    <h1>👋 My name is Joseph Curtis</h1>
    <h2>
      I am an Ecommerce professional, Full Stack Developer and Revenue
      Optimizer.
    </h2>
    <ShopName />
    <CollectionByHandle />
  </section>
</BaseLayout>
