---
import { Img } from "astro-imagetools/components";

const response = await fetch(
  `${import.meta.env.PUBLIC_BASE_URL}/api/post-collection`,
  { method: "POST" }
);
const collection = await response.json();
---

<section>
  <h3>{collection.data.collectionByHandle.description}</h3>
  <div class="collection-images">
    {collection.data.collectionByHandle.products.edges.map((el) => {
      return el.node.images.edges.map((img) => {
        const { original, altText } = img.node;
        return (
          <Img
            src={original}
            alt={altText}
            width={400}
            height={400}
            format="webp"
          />
        );
      });
    })}
  </div>
</section>
