---
import { Img } from "astro-imagetools/components";
import { flattenConnection } from "../utils/flattenConnection";

const response = await fetch(
  `${import.meta.env.PUBLIC_BASE_URL}/api/post-collection`,
  { method: "POST" }
);
const { data: { collectionByHandle: { description, products } }} = await response.json();
---

<section>
  <div class="collection-images">
    <h1>{description}</h1>
    <div class="collection-images">
      {products.edges.map(({ node: { images }}) => {
        return flattenConnection(images).map(({original, altText}) => {
          return (
            <Img
              src={original}
              alt={altText}
              width={400}
              height={400}
              preload="avif"
              format="webp"
              formatOptions={["avif", "webp"]}
            />
          );
        });
      })}
    </div>
  </div>
</section>
