---
import Image from "astro-imagetools";

const response = await fetch(
  `${import.meta.env.PUBLIC_BASE_URL}/api/post-collection`,
  { method: "POST" }
);
const collection = await response.json();
---

<section>
  <h3>{collection.data.collectionByHandle.description}</h3>
  <div class="collection-images">
    {collection.data.collectionByHandle.products.edges.map((el) => {
      return el.node.images.edges.map((img) => {
        return (
          <Image
            src={img.node.original}
            alt={img.node.altText}
            width={400}
            height={400}
            preload="avif"
            format={["avif", "webp"]}
            fallbackFormat="jpg"
          />
        );
      });
    })}
  </div>
</section>
