---
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<meta name="description" content={description} />
<link
  rel="preload"
  href="https://internet_marketing_near_me.storage.googleapis.com/fonts/Anybody[slnt,wdth,wght].woff2"
  as="font"
  type="font/woff2"
  importance="high"
  crossorigin
/>
<link
  rel="preload"
  href="https://internet_marketing_near_me.storage.googleapis.com/fonts/Trispace[wdth,wght].woff2"
  as="font"
  type="font/woff2"
  importance="high"
  crossorigin
/>
<link
  rel="stylesheet"
  type="text/css"
  href={Astro.resolve("../styles/global.scss")}
/>
